body {
  font-family: 'Arial', sans-serif;
  background-color: #462028;
  color: #faebcc;
  margin: 0;
}

.header-container-atividades {
  position: relative;
  min-height: 400px;
  overflow: hidden;
}

.header-background-atividades {
  position: relative;
}

.header-background-atividades img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  opacity: 0.55;
}

.header-atividades {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 4;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.header-atividades Menu {
  font-family: 'Smooch', cursive;
  font-size: 120px;
  margin: 0;
  padding-left: 20px;
  margin-top: 100px;
}

.header-background-atividades::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 120px;

  background: linear-gradient(to bottom,
      rgba(70, 32, 40, 0) 0%,
      rgba(70, 32, 40, 0.6) 60%,
      rgba(70, 32, 40, 1) 100%);

  filter: blur(8px);
  z-index: 3;
  pointer-events: none;
}

/* Fundo de carta */
.fundo-carta {
  margin-top: -5px;
  position: relative;
  background-image: url("../fotos/fundoinicio.png");
  background-size: cover;
  background-position: center;
  padding: 30px;
}

h2 {
  margin-left: 40px;
  font-family: 'B612', sans-serif;
}

.fundo-carta::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* Carrossel */
.carrossel-simples {
  max-width: 50%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  scroll-behavior: smooth;
  display: flex;
  z-index: 1;
}

.carrossel-simples img {
  height: 250px;
  flex-shrink: 0;
  scroll-snap-align: center;
}

/* Scroll bonito */
.carrossel-simples::-webkit-scrollbar {
  height: 8px;
}

.carrossel-simples::-webkit-scrollbar-thumb {
  background: #faebcc;
}

/* Texto de contraturno */
.contraturno-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: row;
  gap: 20px;
  padding: 20px;
}

.texto-contraturno {
  max-width: 650px;
  margin: 25px auto;
  padding: 10px;
  background-color: #faebcc;
  border-left: 5px solid #faebcc;
  font-size: 16px;
  font-family: 'B612', sans-serif;
  color: #343625;
  z-index: 1;
}

/* Imagens */
.foto-curriculo1,
.foto-curriculo2,
.foto-certificado,
.foto-certificado2,
.foto-certificado3 {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border: 10px solid #462028;
  display: block;
  margin: 0;
  transition: 0.3s;
}

.foto-curriculo1:hover,
.foto-curriculo2:hover,
.foto-certificado:hover,
.foto-certificado2:hover,
.foto-certificado3:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Botões */
.botao-certificado,
.botao-certificado2,
.botao-certificado3,
.botao-curriculo2,
.botao-curriculo1 {
  background-color: #462028;
  color: #faebcc;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: none;
  font-family: 'Arial', sans-serif;
}

.botao-certificado::before,
.botao-certificado2::before
.botao-certificado3::before,
.botao-curriculo1::before,
.botao-curriculo2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -65%;
  width: 50%;
  height: 100%;
  background: #faebcc;
  transform: skewX(-25deg);
}

.botao-curriculo2:hover::before,
.botao-curriculo1:hover::before,
.botao-certificado:hover::before,
.botao-certificado2:hover::before,
.botao-certificado3:hover::before {
  left: 125%;
  transition: left 0.5s;
}

/* Atividades */
.botoes-alinhados {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bloco-atividade {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 30px;
}

/* Cartões */
.atividade-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

/* Botão voltar */
.botao-voltar{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.botao-voltar a {
  background-color: #faebcc;
  color: #462028;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: none;
}

.botao-voltar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -65%;
  width: 50%;
  height: 100%;
  background: #462028;
  transform: skewX(-25deg);
}

.botao-voltar a:hover::before {
  left: 125%;
  transition: left 0.5s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #462028;
  color: #faebcc;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 9999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #faebcc;
  padding: 10px;
  transition: background 0.3s ease, padding-left 0.3s ease;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.15);
  padding-left: 18px;
  border-radius: 5px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #462028;
  list-style: none;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity .3s ease, transform .3s ease, visibility .3s;
  z-index: 99999;
}

.dropdown:hover>.submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.submenu li a {
  padding: 10px 20px;
  display: block;
  transition: background 0.3s ease, padding-left .3s ease;
}

.submenu li a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding-left: 30px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
  }

  .nav-links a {
    padding: 12px 15px;
  }

  .submenu {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    box-shadow: none;
    background: #333;
  }
}