body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(75, 52, 29, 1);
    color: #faebcc;
    margin: 0;
}

.header-container-humanas {
    position: relative;
    min-height: 400px;
}

.header-background-humanas img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    opacity: 0.55;
}

.header-humanas {
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 2;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.header-humanas Menu {
    font-family: 'Smooch', cursive;
    font-size: 120px;
    margin: 0;
    padding-left: 20px;
    margin-top: 100px;
}

/* Estilos da seção de atividades */
.titulo-secao h2,
.titulo-secao-2tri h2 {
    margin-left: 40px;
    font-family: 'B612', sans-serif;
}

.fundo-carta {
    margin-top: -5px;
    position: relative;
    background-image: url("fotos/fundo.jpeg");
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.fundo-carta::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

/* Estilos dos blocos de atividade */
.bloco-atividade,
.bloco-atividade-2tri {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

/* Estilos dos cartões de atividade */
.atividade-card,
.atividade-card-2tri {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Estilos das imagens específicas de Humanas */
.foto-guerra-do-opio,
.foto-quiz,
.foto-geopolitica,
.foto-2guerra-mundial,
.foto-totalitarismo,
.foto-republica {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border: 10px solid rgba(75, 52, 29, 1);
    display: block;
    margin: 0;
    transition: 0.3s;
}

.foto-guerra-do-opio:hover,
.foto-quiz:hover,
.foto-geopolitica:hover,
.foto-2guerra-mundial:hover,
.foto-totalitarismo:hover,
.foto-republica:hover{
    transform:scale(1.1, 1.1);
    cursor: pointer;
}


/* Estilos dos botões de atividade */
.botoes-alinhados {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone-modal {
    background: none;
    border: none;
    color: #faebcc;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.botao-guerra-do-opio,
.botao-quiz,
.botao-geopolitica,
.botao-2guerra,
.botao-totalitarismo,
.botao-republica {
    background-color: rgba(75, 52, 29, 1);
    color: #faebcc;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: none;
    font-family: 'Arial', sans-serif;
}

.botao-guerra-do-opio::before,
.botao-quiz::before,
.botao-geopolitica::before,
.botao-2guerra::before,
.botao-totalitarismo::before,
.botao-republica::before {
    content: "";
    position: absolute;
    top: 0;
    left: -65%;
    width: 50%;
    height: 100%;
    background: #faebcc;
    transform: skewX(-25deg);
}

.botao-guerra-do-opio:hover::before,
.botao-quiz:hover::before,
.botao-geopolitica:hover::before,
.botao-2guerra:hover::before,
.botao-totalitarismo:hover::before,
.botao-republica:hover::before {
    left: 125%;
    transition: left 0.5s;
}

/* Estilo do botão de voltar */
.botao-voltar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.botao-voltar a {
    background-color: #faebcc;
    color: rgba(75, 52, 29, 1);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: none;
}

.botao-voltar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -65%;
    width: 50%;
    height: 100%;
    background: rgba(75, 52, 29, 1);
    transform: skewX(-25deg);
}

.botao-voltar a:hover::before {
    left: 125%;
    transition: left 0.5s;
}

/* Estilos dos modais */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    background-color: rgba(75, 52, 29, 1);
    color: #faebcc;
    padding: 20px;
    border: 1px solid #faebcc;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fechar {
    color: #faebcc;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: #925a38;
    text-decoration: none;
    cursor: pointer;
}